<% if (typeof spinner !== 'undefined') { %>
    <link rel="stylesheet" href="/styles/spin.css" />
    <div class="spin-layout" hidden>
        <div class="wrap-spinner"></div>
        <div class="spinner"></div>
    </div>
<% } %>