<div class="container" style="min-height: 68vh;">
    <div class="text-center mt-5">
        <i class="fa-solid fa-triangle-exclamation fa-beat text-warning" style="display: block;
        font-size: 160px;"></i>
    </div>
    <h2 class="text-center text-warning mt-5">Số điện thoại không hợp lệ!</h2>
    <a href="/cart" class="text-center d-block">Trở lại</a>
</div>