<div class="container" style="min-height: 68vh;">
    <div class="text-center mt-5">
        <i class="fa-regular fa-circle-check fa-bounce text-success" style="display: block;
        font-size: 160px;"></i>
    </div>
    <h2 class="text-center text-success mt-5">Đặt hàng thành công!</h2>
</div>