<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2">
    <a class="navbar-brand" href="#"><img style="width: 36px; height: 36px;" class="rounded-circle" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQlsyEVlRAwCSgq5zIkkzp3yP6MV1-TQcFfww&usqp=CAU" alt=".."></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" href="/"><i class="fa-solid fa-house"></i> Trang chủ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/home/about"><i class="fa-solid fa-circle-question"></i> Liên hệ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/cart"><i class="fa-solid fa-cart-shopping"></i> Giỏ hàng</a>
        </li>
       
      </ul>
      <ul class="navbar-nav">
        <div class="dropdown" style="cursor: pointer;">
          <div class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img class="rounded-circle" style="width: 32px; height: 32px;" src="https://tailieu.nepc.edu.vn/themes/cynoebook/public/images/default-user-image.png" alt="..">
          </div>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="/profile/dashboard"><i class="fa-solid fa-user"></i> Tài khoản</a>
            <a class="dropdown-item" href="/authen/register"><i class="fa-regular fa-address-card"></i> Đăng ký</a>
            <a class="dropdown-item" href="/authen/login"><i class="fa-solid fa-arrow-right-to-bracket"></i> Đăng nhập</a>
            <a class="dropdown-item" href="/authen/logout"><i class="fa-solid fa-arrow-right-from-bracket" style="color: #ec1818;"></i> Đăng xuất</a>
          </div>
        </div>
      </ul>
    </div>
  </nav>
</header>