<!DOCTYPE html>
<html>
<head>
  <title>Nodejs-Express-Mysql</title>
  <link rel="icon" type="image/x-icon" href="/fonts/favicon.ico" />
  <link rel="stylesheet" href="/styles/admin.css">
  <link rel="stylesheet" href="/styles/index.css">
  <link rel="stylesheet" href="/styles/feather.css">
  <link rel="stylesheet" href="/styles/simplebar.css">
</head>
<body class="vertical dark">
  <div class="wrapper">
    <%- include('../includes/admin/header') %>
    <%- include('../includes/admin/navBar') %>
    <%- body %>
  </div>
  <script src="/jquery/index.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/admin.js"></script>
</body>
</html>
