<!DOCTYPE html>
<html>
<head>
  <title>My Website</title>
  <link rel="stylesheet" href="/styles/bootstrap.min.css">
</head>
<body>
  <%- include('../includes/user/header') %>
  <%- body %>
  <%- include('../includes/user/header') %>
  <script src="/js/bootstrap.bundle.min.js"></script>
</body>
</html>
